SUBSYSTEM=="usb", ATTR{idVendor}=="2faf", ATTR{idProduct}=="0001", MODE="0666", GROUP="dialout"
KERNEL=="ttyACM*", ATTRS{idVendor}=="2faf", ATTRS{idProduct}=="0001", MODE="0666", GROUP="dialout"
